#shop-page {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 60vw;
  margin: 20px auto;

  #shop-nav {
    width: 100%;
    display: flex;
    #right-arrow-icon {
      transform: rotate(270deg);
      scale: 0.7;
    }
  }

  #filters {
    width: 15vw;

    .filter > div:not(#category-filters, #price-filter) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    svg {
      transition: transform 300ms;
    }

    .flip-arrow-up {
      transform: rotate(180deg);
    }

    .hide {
      max-height: 0;
      overflow: hidden;
    }

    h3 {
      margin: 10px 0;
    }

    label::after {
      content: '\a';
      white-space: pre;
    }
    input[type='checkbox'] {
      margin-right: 5px;
    }
  }
  #products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 40vw;
  }
  #page-numbers {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    .page-number {
      aspect-ratio: 1;
      font-size: 19px;
      background-color: white;
      border-radius: 15%;
      margin: 0 3px;
    }
    .checked {
      background-color: black;
      color: white;
    }
  }
}
