#wishlist-page {
  display: grid;
  grid-template-columns: repeat(3,16vw);
  margin: auto;

  #empty-wishlist {
    text-align: center;
    width: 40vw;
    font-weight: 500;
    font-size:35px;
  }
}