#cart {
  position: relative;
  &-pop-up {
    position: absolute;
    width: 400px;
    padding: 10px;
    background-color: white;
    right: 0;
    outline: 1px solid grey;

    .cart-item {
      display: flex;
      align-items: center;
      height: 150px;
      border-bottom: 1px solid rgba(175, 175, 175, 0.742);
      img {
        width: 30%;
        object-fit: cover;
        padding: 10px;
      }
      .price {
        font-weight: 700;
      }
      .trash-icon {
        height: 5rem;
        fill: red;
        align-self: self-end;
      }
    }
  }
}
