nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  height: 80px;
  position: relative;

  a {
    text-decoration: none;
  }

  #nav-links a {
    margin: 0 10px;
  }

  button {
    padding: 10px 25px;
    border-radius: 10px;
    background-color: black;
    color: white;
    margin-left: 10px;
  }

  div:last-child {
    display: flex;
    align-items: center;
  }

  .icon {
    height: 40px;
    position: relative;
    top: 6px;
    margin: 0 5px;
  }
  #wishlist-icon {
    height: 25px;
  }
}
