#notification {
  position: fixed;
  top: 50px;
  margin: auto;
  width: 70vw;
  left: calc((30vw - 20px) / 2);
  padding: 20px;
  border-radius: 20px;
  font-weight: 600;
}
.error {
  background: linear-gradient(
    0deg,
    rgb(250, 231, 231) 0%,
    rgb(255, 199, 199) 100%
  );
  color: black;
  border: 2px solid rgb(255, 143, 143);
  border-left: 10px solid rgb(242, 105, 105);
}
