.product-card {
  width: min-content;
  div:first-child {
    position: relative;
    width: 250px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 200px;
    height: 250px;
    object-fit: contain;
  }
  .description {
    text-transform: capitalize;
  }
  .previous-price {
    margin-left: 5px;
    text-decoration: line-through;
    color: rgb(190 163 169);
  }
  .heart-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 25px;
    width: min-content;
  }
  .white-btn {
    box-shadow: 0 0 15px rgba(128, 128, 128, 0.559);
  }

}
