.product-card {
  width: min-content;
  div:first-child {
    position: relative;
    width: min-content;
  }
  img {
    width: 250px;
  }
  .description {
    text-transform: capitalize;
  }
  .previous-price {
    margin-left: 5px;
    text-decoration: line-through;
    color: rgb(190 163 169);
  }
  .heart-icon {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    justify-content: center;
    height: 42px;
    aspect-ratio: 1;

    svg {
      height: 50px;
    }
  }

}
