#profile-nav {
  width: 15vw;
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.238);
  height: min-content;
  h3 {
    padding: 20px;
    outline: 1px solid rgba(171, 171, 171, 0.312);

    svg {
      height: 30px;
      border: 1px solid black;
      border-radius: 50%;
      vertical-align: bottom;
      margin-right: 10px;
    }
  }
  #links {
    .current-profile-link {
      background-color: black;
      color: white;
      outline: 1px solid black;
    }
    div {
      padding: 15px 20px;
      text-transform: capitalize;
    }
  }
}
