#profile-nav {
  width: 15vw;
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.238);
  height: min-content;
  h3 {
    padding: 20px;
    border-bottom: 1px solid rgba(160, 160, 160, 0.238);
    text-transform: capitalize;

    svg {
      height: 30px;
      border: 1px solid black;
      border-radius: 50%;
      vertical-align: bottom;
      margin-right: 10px;
    }
  }
  #links {
    .current-profile-link {
      div {
        background-color: black;
        outline: 1px solid black;
        color: white;
      }
    }
    div {
      padding: 15px 20px;
      text-transform: capitalize;
    }
  }
}
